<form (ngSubmit)="onSubmint()" #signupForm="ngForm">
	<label>Username:</label>
	<input name="username" [(ngModel)]="model.username" #username="ngModel" required/>
	<div [hidden]="username.valid || username.pristine">Username is required</div>

	<label>Password:</label>
	<input name="password" [(ngModel)]="model.password" #password="ngModel" required/>
	<div [hidden]="password.valid || password.pristine">Password is required</div>

	<button type="submit" class="btn" [disabled]="!signupForm.form.valid">Submit</button>
</form>